/* Stylesheet 
	Created by : a.riccia <Albert Ricia>
	18 / 08 / 2014
*/
body
{
	border-collapse:collapse;
	border: none;
	font-size:10px;
}

capital{
	text-transform: capitalize;
}

tr.row-header td{
	background-color: #ffffff !important;
	font-weight:bold;
	border-top:none !important;
}

.font-medium {
	font-size: 10pt !important;
}

.order-detail-box {
	width: 100%;
	min-height:50px;
	border-radius : 5px;
	margin-top : 12px;
}

.cursor {
	cursor:pointer;
}

.stylish {
	color:#428bca;
}

.stylish:hover{
	text-decoration:underline;
}

.no-bottom {
	margin-bottom : 0px !important;
}

.border-top-blue {
	border-top : 6px solid #428bca;
}

.bar-notice {
	width:auto; 
	padding: 10px; 
	margin-top:20px; 
	text-align:center;
}

.bar-green {
	background-color: #dff0d8 ; 
	border :  2px dashed #3c763d ;
	color: #3c763d ;
}

.bar-yellow{
	background-color: #fcf8e3 ; 
	border :  2px dashed #8a6d3b;
	color: #8a6d3b ;
}

.bar-red {
	background-color: #f2dede ; 
	border :  2px dashed #a94442 ;
	color: #a94442 ;
}

.btn-customer {
	width: 100px;
}

.d_none
{
	display:none;
}
.h-mini
{
	height:380px !important;
}

.pad-detail {
	padding: 14px;
}

.inline {
	display : inline !important;
}

.panel-search {
	max-height:390px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card-box {
	width:252px;
	min-height:200px;
	border:thin solid silver;
	border-radius:4px;
	float:left;
	margin:10px;
}

.div-bottom-box {
	padding:10px;
	color:#222;
}

.div-mini-bottom-box {
	padding:5px;
	color:#444;
	text-align:right;
	font-weight: bold;
	font-size:9pt;
}

#menu {
	border-radius:0px;
	z-index: 1010;
}

.w-100 {
	width:100% !important;
}

.white {
	color:white !important;
}

.b-right {
	border-right: thin solid #CCC !important;
}

.date {
	cursor: pointer !important;
}

.ui-datepicker-month, .ui-datepicker-year {
	color: black;
}

.text-center {
	text-align:center !important;
}

.bg-gray {
	background-color:#EBEBEB !important;
}

.center
{
	text-align:center;
}
capital {
	text-transform:capitalize;
}
.content
{
	padding:16px;
}
.list-container
{
	height:500px;
	overflow:auto;
}
 
td {
	word-break: break-all !important;
}

.no-bold {
	font-weight: normal !important;
}

#pushdownload {
	z-index:100001;
	position:fixed;
	bottom:initial !important;
}

.float_right
{
	float:right;
}
.float_left
{
	float:left;
}

.clear{
	clear:both;
}
table thead
{
	text-align:center;
	font-weight:bold;
}
#form_forget
{
	display:none;
}
.f-none
{
	float:none !important;
}
.large-height {
	height:320px !important;
	border-radius:4px !important;
}

.msgbox {
	height:160px !important;
}

.no-padding {
	padding-left:0px !important;
}

.font-large {
	font-size: 22.5pt;
}

.lbl {
	border-bottom:thin solid silver;
}

.btos,.btdevice,.btappversion,.btdetail 
{
	min-width:140px;
}
.menu{
	margin-left: 15px;
	margin-top:0;
	height:68px;
	width:68px;
}
#no_data {
	display:none;
}
.below{
	top:-20px !important;
}
#menu-toggle
{
	float:left;
	padding-left:18px;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	background: #ededed;
	cursor:pointer;
}

/*
Added by Kelvin
created on : 05 / 09 / 2014
*/

[draggable=true] {
    cursor: move;
}
#chart{
	display:none;
	height:450px;
	position: absolute;
	z-index:100;
	right: 0;
	box-shadow: 0px 0px 7px #D1D1D1;
}

.chart-draggable{
	height:750px !important;
	z-index: 100000 !important;
}

#chart #container{
	height:600px;
}
.custom{
	width : 100% !important;
	height : 650px !important;
	position:static !important;
}
.bg-loading-segment{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:white;
	opacity:0.5;
}
.loading-circle{
	position:absolute;
	top:50%;
	left:50%;
	width:300px;
	margin-left:-150px;
	text-align:center;
}

.confirm-content{
	width:50%;
	margin:0 auto;
	background-color: white;
	border: 1px solid #CCCCCC;
	//height: 250px;
	padding:25px;
	text-align: center;
	box-shadow: 0px 0px 5px #D1D1D1;
}

#bg-overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	background-color: black;
	opacity: 0.9;
	z-index: 5000;
}
#container-changepass{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index: 50001;
	background-color: rgba(2,2,2,0.8);
}
#changepass{
	position: relative;
	width: 40%;
	top: 50%;
	left: 0px;
	margin-left: 50%;
	transform: translateX(-50%) translateY(-50%);
	
	z-index: 7100;
}
.promo_content label{
	text-align: left !important;
}
.promo_content .form-group{
	margin: 0 !important;
}
.promo_detail_container{
	display:none;
	position: absolute;
	z-index: 10000;
	left: 40px !important;
	top: 0px;
	width: 1200px;
	box-shadow: 1px 1px 5px #4d4d4d !important;
}

.user_detail_container{
	display:none;
	position: absolute;
	z-index: 10000;
	left:100px;
	width: 450px;
	top:130px;
	box-shadow: 1px 1px 5px #4d4d4d !important;
}

.cover
{
	position:fixed;
	display:none;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	height:100%;
	background-color: rgba(32, 32, 32, 0.9)
}

.promo_table td, .promo_table th{
	text-align: center;
}
.promo_table td{
	line-height: 60px !important;
	font-size: 36px;
}
#promo_number tr{
	height: 60px;
}
.close{
	/*color:white !important;*/
	border: none;
	opacity: 0.8 !important;
}
.tb-test{
	position:relative;
}

.overflowing{
	overflow:auto;
	white-space:nowrap;
}

.inline {
	float:none !important;
	display:inline-block;
}

.bg-loading{
	position:absolute;
	display:none;
	bottom:-10px;
	width:100%;
	text-align:center;
	background-color: #fff;
	/* box-shadow: 0px -5px 3px #888888; */
	padding-top: 15px;
}

.dropdown_date_btn{
	position: relative;
	top:-25px;
	margin-right: 10px;
}
.date_dropdown{
	width: 530px;
	padding: 10px !Important;
	border-radius: 3px;
	background-color: #fff;
	display:none;
	text-align: center;
	z-index: 999;
}
.btn-container{
	height:5px;
	color: #003366 !important;
}
div.ui-datepicker{
 font-size:14px;
}
#apply_date{
	margin-top: 5px;
}
#loading_gif{
	display: none;
}
.dropdown_date_btn{
	position: relative;
	top:-25px;
	margin-right: 10px;
}
.date_dropdown{
	width: 530px;
	padding: 10px !Important;
	border-radius: 3px;
	background-color: #fff;
	display:none;
	text-align: center;
	z-index: 999;
}
.btn-container{
	height:5px;
	color: #003366 !important;
}
div.ui-datepicker{
 font-size:14px;
}
#apply_date, #apply_date_sam{
	margin-top: 5px;
}
#loading_gif{
	display: none;
}
ul, li{
	padding-left: 5px;
	margin: 0;
}
td.center{
	text-align: center;
}
.star-container{
	list-style-type: none;
}
.star-container li{
	float: left;
	color: #003366;
}
.sort_tool{
	background: none !important;
	border: none;
	color: #036 !important;
}
.sort_tool:hover{
	text-decoration: underline;
}
.caret{
	transition: all 0.4s ease;
}
.sort_tool:hover .caret{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.caret.active
{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.table-container{
	border-radius: 5px;
}
.ui-datepicker-header{
	border: 1px solid #428bca !important;
}
.loading{
	position: relative;
	width: 300px;
	margin: 0 auto;
	left: 100px;
	top: -200px;
}



/*
Added by Pinto Luhur
created on : 02 / 09 / 2014
*/

.huge {
    font-size: 40px;
}

.panel-grey {
    border-color: #ccc !important;
}

.panel-grey .panel-heading {
    border-color: #ddd;
    background-color: #ddd;
}

.panel-blue {
    border-color: #428bca !important;
}

.panel-blue .panel-heading {
    border-color: #428bca;
    color: #fff;
    background-color: #428bca;
}

.panel-blue a {
    color: #428bca;
}

.panel-blue a:hover {
    color: #034ea1;
}

.panel-purple {
    border-color: #6e4e9e !important;
}

.panel-purple .panel-heading {
    border-color: #6e4e9e;
    color: #fff;
    background-color: #6e4e9e;
}

.panel-purple a {
    color: #6e4e9e;
}

.panel-purple a:hover {
    color: #3c2a56;
}

.panel-green {
    border-color: #5cb85c !important;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e !important;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#dv_pr, #dv_ne, #dv_tb{
	display:none;
	width: 30%;
	height:auto;
	position: fixed;
	top: 20%;
	z-index:100;
	right: 0;
	box-shadow: 0px 0px 7px #D1D1D1;
}

#search_container, #export_csv{
	margin-top: -7px;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/*LOGIN PAGE*/
	.bg-log-loading{
		background-color: #fff;
		display:none;
		position:absolute;
		z-index:9999999 !important;
		width:300px;
		text-align:center;
		top: 25%;
		left : 50%;
		margin-left:-150px;
		margin-right:auto;
		box-shadow: 0px 0px 8px #22437A !important;
		padding-top: 15px;
		border-radius:10px;
	}

	.bg-sub-loading{
		background-color: #fff;
		display:none;
		position:absolute;
		z-index:9999999 !important;
		width:300px;
		text-align:center;
		top: 40%;
		left : 50%;
		margin-left:-150px;
		margin-right:auto;
		box-shadow: 0px 0px 8px #22437A !important;
		padding-top: 15px;
		border-radius:10px;
	}

	.bluback {
		/*background-color: #4385cb;*/
		background: -webkit-linear-gradient(90deg, #4385cb 10%, #366BC4 90%);
		background: -moz-linear-gradient(90deg, #4385cb 10%, #366BC4 90%);
		background: -ms-linear-gradient(90deg, #4385cb 10%, #366BC4 90%);
		background: -o-linear-gradient(90deg, #4385cb 10%, #366BC4 90%);
		background: linear-gradient(90deg, #4385cb 10%, #366BC4 90%);	
	}
	.login-panel{
		background: -webkit-linear-gradient(60deg, #FAFAFA 10%, #ffffff 90%);
		background: -moz-linear-gradient(60deg, #FAFAFA 10%, #ffffff 90%);
		background: -ms-linear-gradient(60deg, #FAFAFA 10%, #ffffff 90%);
		background: -o-linear-gradient(60deg, #FAFAFA 10%, #ffffff 90%);
		background: linear-gradient(60deg, #FAFAFA 10%, #ffffff 90%);
		box-shadow: 0px 0px 8px #22437A !important;
		border-radius: 10px !important;
	}
	.border-grey{
		width:98%;
		height:1px;
		background-color: #e4e4e4;
	}
	.border-white{
		width:98%;
		height:1px;
		background-color: white;
	}
	.logo-container{
		width:500px;
		margin: 0 auto;
	}
	.logo-login{
		width:75%;
		min-width: 300px;	
	}
/*END OF LOGIN PAGE*/

/*ERROR PAGE*/
	#errorpage {
		top: 50% !important;
		left: 30%;
	}
/*END OF ERROR PAGE*/

/*MENU BAR*/
	#menu {
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #222;
		width: 300px !important;
	}
	.panel {
		top: 0;
		left: -300px;
		/*height: 100%;*/
	}
	.drawer-default {
		-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .5);
		box-shadow: inset 0 0 0 rgba(0, 0, 0, .5);
		height: 100%;
	}
	.drawer-default .drawer-brand a {
	  display: block;
	  width: 100%;
	  padding: 20px 15px;
	  font-size: 22px;
	  color: #fff;
	  text-decoration: none;
	}
	.drawer-default .drawer-nav-title {
	  color: #eee;
	  display: block;
	  padding: 15px 15px 0 15px;
	  font-size: 18px;
	}
	
	.drawer-default .drawer-nav-title a{
	  color: #eee;
	  display: block;
	  font-size: 18px;
	}
	
	.drawer-default .drawer-nav-list {
	  padding-left: 10px;
	  margin: 0 0 20px 0;
	  list-style: none;
	}
	.drawer-default .drawer-nav-list li {
	  display: block;
	}
	.drawer-default .drawer-nav-list li a {
	  display: block;
	  padding: 15px;
	  color: #888;
	  text-decoration: none;
	}
	.drawer-default .drawer-nav-list li a:hover {
		color: #fff;
		background-color: #333;
		border-radius: 10px 0px 0px 10px;
		text-decoration: none;
	}
	.drawer-default .drawer-nav-list li ul a {
	  padding: 8px 20px;
	}
	.apps-nav-list {
		padding:0 !important;
	}
	.apps-menu {
		padding:15px 15px 15px 5px !important;
	}
/*END OF MENU BAR*/

/*ALERT MESSAGE*/
	.alert:not(#errorMail):not(#errorChange)
	{
		left: 0;
		right: 0;
		margin-left:auto;
		margin-right:auto;
		width:500px;
		word-break:break-all;
		top: 80px;
		height: 50px;
		position: fixed;
		text-align: center;
		z-index: 100000 !important;
		line-height:20px !important;
		background-image: none !important;
	}
	#errorMail, #errorChange{
		background-image: none !important;
		height: 50px;
	}
/*END OF ALERT MESSAGE*/

/*ADVANCED SEARCH*/
	#advanced_search_container
	{
		position: absolute;
		top:-20px;
		right:-97.5%;
		z-index: 5;
	}
	#advanced_search_container_merchant{
		position: absolute;
		top:-10px;
		right:-97.5%;
		z-index: 5;
	}
	#advanced_search_container_detail
	{
		position: absolute;
		top:28px;
		right:-97.5%;
		z-index: 5;
	}
	#advanced_search_container > .panel{
		box-shadow: 0px 0px 8px 4px #e4e4e4;
	}
	.advanced_search_container input[type=checkbox]{
		margin-left: 5px;
	}
	.advanced_search_container label.chk{
		font-weight: 100 !Important;
	}
/*END OF ADVANCED SEARCH*/

/* SLIME CS TABLE */

	#doug-neiner-five, #log_table, #transaction_table, .merchant_name { 
		overflow:hidden;
	}
	table#doug-neiner-five thead, table#doug-neiner-five tbody, table#log_table thead, table#log_table tbody,
	table#transaction_table thead, table#transaction_table tbody, table.merchant_table thead, table.merchant_table tbody
	{
		display:block;
	}
	table#doug-neiner-five tbody tr td{
		transition :all 180ms;
		-moz-transition : all 180ms;
		-webkit-transition : all 180ms;
		-o-transition : all 180ms;
		-ms-transition : all 180ms;
		cursor:pointer;
	}
	table#doug-neiner-five tbody
	{
		overflow:auto;
		height:475px;
		width:auto;
	}
	table#transaction_table tbody {
		overflow: auto;
		height:auto !important;
		max-height:475px;
		width:100%;
	}
	table.merchant_table tbody {
		overflow: auto;
		height:475px;
		width:100%;
	}	
	table#log_table tbody
	{
		overflow:auto;
		height:550px;
		width:100%;
	}
/* END OF SLIME CS TABLE */

/* END */


/* Added by Nadia Alviana
	created by : 18 / 08 / 2014
 */
	.error_popup_container{
		display:none;
		position: fixed;
		z-index: 10000;
		top: 50%;
		left:50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%) translateX(-50%);
		width: 800px;
		box-shadow: 1px 1px 5px #4d4d4d !important;
		
	}
	.error_popup_container .error_table
	{
		max-height: 600px;
		overflow-y:auto;
	}
	.error_popup_container tr td{
	font-size: 12pt;
	}
	
	#search-crumb {
		margin-top:78px;
	}
	
	.breadcrumb {
		margin-top:70px;
	}
	.highcharts-container
	{
		overflow:visible !important;
		height:auto !important;
	}
	.menu-content {
		height: 100%;
		overflow-y: auto;
	}
	select {
		background-color: #fff;
	}
	.ch-container {
		padding: 0 15px;
	}
	.top-block {
		border-radius: 20px;
		font-size: 14px;
		text-align: center;
		padding: 5px;
		margin-bottom: 10px;
		font-weight: bold;
		position: relative;
		display: block;
		line-height: 22px;
		text-decoration: none;
		-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
		-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
		box-shadow: inset 0 0 0 1px #FAFAFA;
		background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0.2)), color-stop(100%, rgba(125, 185, 232, 0)));
		background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
		background: -o-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
		background: -ms-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
		background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331e5799', endColorstr='#007db9e8', GradientType=0);
	}
	.top-block span {
		clear: both;
	}
	.top-block i {
		font-size: 25px;
	}
	.top-block:hover {
		text-decoration: none;
	}
	.notification {
		display: block;
		position: absolute;
		top: -10px;
		right: -5px;
		line-height: 16px;
		height: 16px;
		padding: 0 5px;
		font-family: Arial, sans-serif;
		color: white !important;
		border-width: 1px;
		border-style: solid;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
		box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
	}
	.box {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.box-inner {
		border: 1px solid #DEDEDE;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
		-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
		-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	}
	.box-header {
		border: none;
		padding-top: 5px;
		border-bottom: 1px solid #DEDEDE;
		border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		height: 35px;
		min-height: 35px !important;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 16px;
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
		background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
	}
	.box-header h2 {
		font-size: 15px;
		width: auto;
		clear: none;
		float: left;
		line-height: 25px;
		white-space: nowrap;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
	}
	.box-header h3 {
		font-size: 13px;
		width: auto;
		clear: none;
		float: left;
		line-height: 25px;
		white-space: nowrap;
	}
	.box-header h2 > i {
		margin-top: 1px;
	}
	.box-icon {
		float: right;
	}
	.box-icon a {
		clear: none;
		float: left;
		margin: 0 2px;
		height: 20px;
		width: 5px;
		margin-top: 1px;
	}
	.box-icon a i {
		margin-left: -6px;
		top: -1px;
	}
	.box-content {
		padding: 10px;
	}
	.btn-round {
		border-radius: 40px;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		font-size: 12px;
		padding-top: 4px;
	}
	ul.dashboard-list li {
		padding: 7px 0;
		list-style: none;
		border-bottom: 1px solid #EBEBEB;
		border-top: 1px solid white;
	}
	ul.dashboard-list a:hover {
		text-decoration: none;
	}
	ul.dashboard-list {
		margin: 0;
	}
	ul.dashboard-list li a span {
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-right: 10px;
		text-align: right;
		width: 70px;
		zoom: 1;
	}
	.dashboard-avatar {
		height: 50px;
		width: 50px;
		padding: 1px;
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		border: 1px solid #EBEBEB;
		border-radius: 50%;
	}
	.thumbnail {
		background-color: white;
		z-index: 2;
		position: relative;
		margin-bottom: 40px !important;
	}
	.thumbnails > li {
		display: inline-block;
		margin-left: 15px;
	}
	.thumbnail img, .thumbnail > a {
		z-index: 2;
		height: 100px;
		width: 100px;
		position: relative;
		display: block;
	}
	img.grayscale {
		-webkit-filter: grayscale(1);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
	}
	.thumbnail .gallery-controls {
		position: absolute;
		z-index: 1;
		margin-top: -30px;
		height: 30px;
		min-height: 30px;
		padding: 0 6.5px;
	}
	.thumbnail .gallery-controls p {
		display: block;
		margin: auto;
		width: 100%;
	}
	div.uploader {
		border-radius: 14px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
	}
	footer {
		clear: both;
	}
	div.center, p.center, img.center {
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
		display: block;
		text-align: center;
	}
	.stackControls {
		padding: 5px;
	}
	#wrapper {
		margin-left:  -400px;
		padding-left: 0px;
		transition: all .4s ease 0s;
		height: 100%;
	}
	#wrapper.active {
		margin-left: 0px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 250px;
	}
	.btn_clicked{
		-webkit-box-shadow: inset 3px 3px 3px #000 !important;
		box-shadow: inset 3px 3px 3px #000 !important;
	}
	.sidebar-nav {
		min-height: 0;
		box-shadow: 0 0 5px #BDBDBD;
		border-radius: 5px;
		margin-bottom: 0;
		padding-bottom: 0;
		max-height: none;
	}
	.sidebar-nav > ul > li:not(.nav-header) {
		margin-right: -2px;
		margin-left: -2px;
	}
	span.title-kanan{
		float: right;
		font-family:"Helvetica";
		font-size: 20px;
		padding-top: 18px;
		padding-right: 24px;
		color: #999999;
	}
	.navbar-brand {
		color: #034EA1;
		margin-top: 10px;
		padding-bottom: 10px;
		font-size: 17px;
	/* 	width:500px; */
	}
	.navbar-brand img {
		float: left;
		height: 40px;
		width: 120px;
		margin-top: -10px;
		margin-right: 20px;
		margin-left: 0px;
	}
	.navbar-menu {
		color: #034EA1;
		/*margin-top: 10px;*/
		padding-bottom: 10px;
		font-size: 17px;
	/* 	width:500px; */
	}
	.navbar-menu img {
		float: left;
		height: 40px;
		width: 35px;
		margin-top: 15px;
		margin-right: 20px;
		margin-left: 30px;
	}
	.navbar-menu span {
		float: left;
	}
	.navbar-brand span {
		float: left;
	}
	.theme-container {
		z-index: 5;
	}
	.navbar-inner {
		padding-top: 0;
		padding-bottom: 10px;
		line-height: 30px;
		height: 70px;
		background-color: #eee;
	}
	.navbar-fixed-top {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	ul.ajax-loaders li {
		display: inline-block;
		list-style: none;
		padding: 10px;
	}
	ul.ajax-loaders {
		min-height: 80px;
	}
	.bs-icons li {
		list-style: none;
	}
	#for-is-ajax {
		padding-left: 12px;
		cursor: pointer;
	}
	#loading {
		margin-top: 20px;
		width: 128px;
		font-weight: bold;
	}
	#loading div.center {
		margin-top: 10px;
		height: 15px;
		width: 128px;
		background: url(assets/img/ajax-loaders/ajax-loader-6.gif);
	}
	.box-content .nav-tabs {
		margin-right: -10px;
		margin-left: -10px;
	}
	.login-header {
		padding-top: 30px;
		height: 120px;
	}
	.pull-left {
		float: left !important;
	}
	.pull-right {
		float: right !important;
	}
	.remember {
		margin-top: 3px;
	}
	.green {
		color: #458746;
	}
	.red {
		color: #B94846;
	}
	.blue {
		color: #034EA1;
	}
	.yellow {
		color: #F99406;
	}
	.login-box .input-prepend {
		margin-bottom: 10px;
	}
	.login-box .btn {
		margin-top: 15px;
		width: 100%
	}
	.box-content.buttons {
		min-height: 297px;
	}
	.main-menu > li > a {
		border: 1px solid rgba(221, 221, 221, 0.46);
	}
	.main-menu > li {
		margin-top: 0 !important;
	}
	.sidebar-nav .nav-header {
		display: block;
		padding: 3px 15px;
		font-size: 11px;
		font-weight: bold;
		line-height: 18px;
		color: #999999;
		text-transform: uppercase;
	}
	.img-detail {
		margin-right:12px; 
		border: thin solid #CECECE; 
		margin-bottom:12px;
	}
	.navbar {
		border-radius: 0;
	}
	ul.main-menu li:not(.nav-header):hover {
		margin-left: 20px;
	}
	ul.main-menu li.active {
		margin-left: 8px;
		/* margin-bottom: 10px; */
	}
	.bd_user,.bd_installs,.bd_installs_slime, .bd_countly,.bd_installs_sgift,.bd_installs_salaam,.bd_reviews_salaam,.bd_carrier_salaam, .bd_devices_salaam, .bd_error_salaam,
	.bd_installs_sfit, .bd_reviews_sfi,.bd_carrier_sfit,.bd_devices_sfit,.bd_error_sfit,.bd_installs_sair,.bd_reviews_sair,.bd_carrier_sair ,.bd_devices_sair,.bd_error_sair,.bd_reviews_slime,.bd_reviews_sgift,.bd_carrier_sgift,.bd_devices_sgift,.bd_carrier_slime,.bd_devices_slime,.bd_dashboard, .bd_error_slime,.bd_error_sgift,.bd_log,.bd_changepass,.bd_cs_slime,.bd_cs_sgift,.bd_cs_customer, 
	.bd_redeem, .bd_promo, .bd_dashboard
	{
		overflow-x: hidden;
	}
	.bd_user #mn_user,.bd_installs #mn_installs,.bd_installs_slime #mn_installs_slime,.bd_countly #mn_countly,.bd_installs_sgift #mn_installs_sgift,
	.bd_installs_salaam #mn_installs_salaam,.bd_reviews_salaam #mn_reviews_salaam,.bd_carrier_salaam #mn_carrier_salaam,.bd_devices_salaam #mn_devices_salaam,.bd_error_salaam #mn_error_salaam,
	.bd_installs_sfit #mn_installs_sfit,.bd_reviews_sfit #mn_reviews_sfit,.bd_carrier_sfit #mn_carrier_sfit,.bd_devices_sfit #mn_devices_sfit,.bd_error_sfit #mn_error_sfit,
	.bd_installs_sair #mn_installs_sair,.bd_reviews_sair #mn_reviews_sair,.bd_carrier_sair #mn_carrier_sair,.bd_devices_sair #mn_devices_sair,.bd_error_sair #mn_error_sair,
	.bd_reviews_slime #mn_reviews_slime,.bd_reviews_sgift #mn_reviews_sgift,.bd_carrier_sgift #mn_carrier_sgift,.bd_devices_sgift #mn_devices_sgift,
	.bd_carrier_slime #mn_carrier_slime,.bd_devices_slime #mn_devices_slime, .bd_error_slime #mn_error_slime,.bd_error_sgift #mn_error_sgift,
	.bd_log #mn_log,.bd_changepass #mn_changepass,.bd_cs_slime #mn_cs_slime,.bd_cs_sgift #mn_cs_sgift,.bd_cs_customer #mn_cs_customer, .bd_redeem #mn_redeem,.bd_promo #mn_promo,.bd_managesapps #mn_managesapps,
	.bd_redeem_log #mn_redeem_log, .bd_claim_log #mn_claim_log, .bd_cs_promo #mn_cs_promo, .bd_publisher_content #mn_publisher_content, .bd_publisher_promo #mn_publisher_promo, .bd_ggi_promo #mn_ggi_promo,
	.bd_ggi_segment #mn_ggi_segment, .bd_slime_promo #mn_slime_promo, .bd_userbase #mn_userbase, .bd_publisher_order #mn_publisher_order, .bd_slime_customer #mn_slime_customer,
	.bd_sgift #accordion-down-3, .bd_g_sgift #accordion-down-3, .bd_sgift #accordion-down1, .bd_slime #accordion-down-4, .bd_g_slime #accordion-down-4, .bd_slime #accordion-down0, .bd_salaam #accordion-down2, .bd_sfit #accordion-down3, 
	.bd_sair #accordion-down4, .bd_slime_favourite #mn_slime_favourite, .bd_sgift_customer #mn_sgift_customer, .bd_dashboard #accordion-down-2, .bd_index #mn_dashboard, .bd_chartbase #mn_chartbase,
	.bd_userbase #mn_userbasem , .bd_sgift_outlet #mn_outlet, .bd_slime_package #mn_publisher_package, .bd_slime_dashboard #mn_slime_dashboard, .bd_publisher_dashboard #mn_publisher_dashboard,
	.bd_cs_download #mn_cs_download, .bd_ggi_providerrequest #mn_ggi_providerrequest
	{
		margin-left: 20px;
	}
	.bd_user #mn_user a,.bd_installs #mn_installs a,.bd_installs_slime #mn_installs_slime a,.bd_countly #mn_countly a,.bd_installs_sgift #mn_installs_sgift a,
	.bd_installs_salaam #mn_installs_salaam a,.bd_reviews_salaam #mn_reviews_salaam a,.bd_carrier_salaam #mn_carrier_salaam a,.bd_devices_salaam #mn_devices_salaam a,.bd_error_salaam #mn_error_salaam a,
	.bd_installs_sfit #mn_installs_sfit a,.bd_reviews_sfit #mn_reviews_sfit a,.bd_carrier_sfit #mn_carrier_sfit a,.bd_devices_sfit #mn_devices_sfit a,.bd_error_sfit #mn_error_sfit a,
	.bd_installs_sair #mn_installs_sair a,.bd_reviews_sair #mn_reviews_sair a,.bd_carrier_sair #mn_carrier_sair a,.bd_devices_sair #mn_devices_sair a,.bd_error_sair #mn_error_sair a,
	.bd_reviews_slime #mn_reviews_slime a,.bd_reviews_sgift #mn_reviews_sgift a,.bd_index #mn_dashboard a,.bd_carrier_sgift #mn_carrier_sgift a,
	.bd_devices_sgift #mn_devices_sgift a,.bd_carrier_slime #mn_carrier_slime a,.bd_devices_slime #mn_devices_slime a,.bd_error_slime #mn_error_slime a, .bd_error_sgift #mn_error_sgift a,
	.bd_log #mn_log a,.bd_changepass #mn_changepass a,.bd_cs_slime #mn_cs_slime a,.bd_cs_sgift #mn_cs_sgift a,.bd_cs_customer #mn_cs_customer a,.bd_redeem #mn_redeem a,.bd_promo #mn_promo a,
	.bd_managesapps #mn_managesapps a,.bd_redeem_log #mn_redeem_log a,.bd_claim_log #mn_claim_log a, .bd_cs_promo #mn_cs_promo a, .bd_publisher_content #mn_publisher_content a, .bd_publisher_promo #mn_publisher_promo a,
	.bd_ggi_promo #mn_ggi_promo a, .bd_ggi_segment #mn_ggi_segment a, .bd_slime_promo #mn_slime_promo a, .bd_userbase #mn_userbase a, .bd_publisher_order #mn_publisher_order a, .bd_slime_customer #mn_slime_customer a,
	.bd_slime_favourite #mn_slime_favourite a, .bd_sgift_customer #mn_sgift_customer a, .bd_chartbase #mn_chartbase a, .bd_userbase #mn_userbase a, .bd_sgift_outlet #mn_outlet a,
	.bd_slime_package #mn_publisher_package a, .bd_slime_dashboard #mn_slime_dashboard a, .bd_publisher_dashboard #mn_publisher_dashboard a, .bd_cs_download #mn_cs_download a, .bd_ggi_providerrequest #mn_ggi_providerrequest a
	{
		color:#fff;
		background-color: #333;
		border-radius: 10px 0px 0px 10px;
		margin-bottom: 7px;
		margin-top: 7px;
	}
	#mn_header_slime a, #mn_header_sgift a, #mn_header_salaam a, #mn_header_sfit a, #mn_header_sair a, #mn_apps a{
		background-color: #222 !important;
	}
	#mn_header_slime a:hover, #mn_header_sgift a:hover, #mn_header_salaam a:hover, #mn_header_sfit a:hover, #mn_header_sair a:hover, #mn_apps a:hover {
		color:#fff !important;
		background-color: #333 !important;
		border-radius: 10px 0px 0px 10px;
	}
	.bd_sair  #accordion-down4, .bd_sfit  #accordion-down3, .bd_salaam  #accordion-down2, .bd_sgift  #accordion-down1,.bd_slime #accordion-down0,
	.bd_sair #accordion-down-1, .bd_sfit #accordion-down-1, .bd_salaam #accordion-down-1, .bd_sgift #accordion-down-1, .bd_slime #accordion-down-1,
	.bd_sgift #accordion-down-3, .bd_g_sgift #accordion-down-3, .bd_slime #accordion-down-4, .bd_g_slime #accordion-down-4,
	.bd_dashboard #accordion-down-2, .bd_userbase #accordion-down-2
	{
		display :block;
	}
	a.accordion{
		background-color: #222 !important;
		text-decoration:none !important;
	}
	#accordion-down0 a:hover, #accordion-down1 a:hover, #accordion-down2 a:hover, #accordion-down3 a:hover, #accordion-down4 a:hover{
		background-color: #333 !important;
	}
	#accordion-down2, #accordion-down0, #accordion-down1 {
		display:none;
	}
	ul.main-menu li.nav-header:hover {
		margin-left: 0;
	}
	ul.main-menu li:not(.nav-header) {
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-ms-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	.preview-on-phone {
		height: 380px;
	}
	.whitespace:before {
		content: "\2122";
		color: transparent !important;
	}
	.homepage-box {
		height: 4000px;
	}
	.download-buttons a {
		margin: 5px;
	}
	.center-text {
		text-align: center;
	}
/* END */